name: APK Builder

on:
  repository_dispatch:
    types: [apk_build]

jobs:
  build-apk:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Android
      uses: android-actions/setup-android@v3

    - name: Build and sign APK
      run: bash scripts/build-and-sign.sh

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: signed-app
        path: android-project/app/build/outputs/apk/debug/app-signed.apk




