name: APK Builder

on:
  repository_dispatch:
    types: [apk_build]

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Setup Java JDK
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Cache Gradle
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: gradle-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
        restore-keys: |
          gradle-

    - name: Clone Android template
      run: git clone https://github.com/sudo-self/template_apk.git android-project

    - name: Decode Keystore
      run: |
        echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android-project/my-release-key.jks

    - name: Customize Android project
      run: |
        python3 scripts/customize-project.py
      env:
        BUILD_ID: ${{ github.run_id }}
        HOST_NAME: ${{ github.event.client_payload.hostName }}
        LAUNCH_URL: ${{ github.event.client_payload.launchUrl }}
        APP_NAME: ${{ github.event.client_payload.name }}
        LAUNCHER_NAME: ${{ github.event.client_payload.launcherName }}
        THEME_COLOR: ${{ github.event.client_payload.themeColor }}
        THEME_COLOR_DARK: ${{ github.event.client_payload.themeColorDark }}
        BACKGROUND_COLOR: ${{ github.event.client_payload.backgroundColor }}
        KEYSTORE_PATH: android-project/my-release-key.jks
        KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

    - name: Build APK
      run: |
        cd android-project
        chmod +x gradlew
        ./gradlew bundleRelease
        # Use Bubblewrap-generated APK path and rename
        cp app/build/outputs/bundle/release/app-release.aab ../${{ github.event.client_payload.name }}.aab

    - name: Upload APK/AAB
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.client_payload.name }}-app
        path: ./${{ github.event.client_payload.name }}.aab














