name: APK Builder

on:
  repository_dispatch:
    types: [apk_build]

jobs:
  build-apk:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Android
      uses: android-actions/setup-android@v3

    - name: Clone and build debug APK
      run: |
        git clone https://github.com/sudo-self/template_apk.git android-project
        cd android-project
        chmod +x gradlew
        ./gradlew assembleDebug

    - name: List build outputs to see what exists
      run: |
        cd android-project
        find . -name "*.apk" -type f

    - name: Upload debug APK
      uses: actions/upload-artifact@v4
      with:
        name: android-app
        path: android-project/app/build/outputs/apk/debug/app-debug.apk




